<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="GET" th:action="@{/organizers/by_date}">
    <label for="from">Find by competition date: </label>
    <input type="date" name="from" id="from"/>
    <input type="date" name="to" id="to"/>
    <input type="submit" value="Find"/>
</form>
<hr/>
<h3>Athlete list:</h3>
<div th:each="organizer: ${organizers}">
    <a th:text="${organizer.getFirstName() + ' ' + organizer.getLastName() + (organizer.getFatherName() != null ? ' ' + organizer.getFatherName() : '')}">organizer</a>
</div>
</body>
</html>