<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="${'Athletes of trainer ' + trainer.getFirstName() + ' ' + trainer.getLastName() + (trainer.getFatherName() != null ? ' ' + trainer.getFatherName() : '') + (rank != null ? ' with rank from ' + rank : '')}"></h3>
<div th:each="athlete: ${athletes}">
    <div>
        <span th:text="${athlete.getFirstName() + ' ' + athlete.getLastName() + (athlete.getFatherName() != null ? ' ' + athlete.getFatherName() : '') + ':'}"></span>
        <span th:each="sportRank, iterStat : ${athlete.getSportRankList()}"
              th:text="${sportRank.getSportName() + ' - ' + (sportRank.getRankName() != null ? sportRank.getRankName() : 'none') + (iterStat.last ? '' : ', ')}"></span>
    </div>
</div>
</body>
</html>